 <!-- Page Heading -->
 <h1 class="h3 mb-2 text-gray-800">Tables</h1>
 <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
	 For more information about DataTables, please visit the <a target="_blank"
		 href="https://datatables.net">official DataTables documentation</a>.</p>

 <!-- DataTales Example -->
 <div class="card shadow mb-4">
	 <div class="card-header py-3">
		 <h6 class="m-0 font-weight-bold text-primary">{{$ctrl.tableHeader}}</h6>
		 
	 </div>
	 <div class="card-body">
		 <div class="table-responsive">
			 <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				 <thead>
					 <tr>
						 <th>Name</th>
						 <th>Age</th>
						 <th>Gender</th>
						 <th>Phone</th>
						 <th>Balance</th>
					 </tr>
				 </thead>
				 <tbody>
					<tr ng-repeat="item in $ctrl.datatable">
						<td>{{item.name}}</td>
						<td>{{item.age}}</td>
						<td>{{item.gender}}</td>
						<td>{{item.phone}}</td>
						<td>{{item.balance}}</td>
					</tr>
				 </tbody>
			 </table>
		 </div>
	 </div>
 </div>

 <!-- DataTales Example -->
 <div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Form Post Example</h6>
	</div>

	<form class="form" ng-submit="$ctrl.saveForm($ctrl.formData)">
		<div>
			<label>First Name:</label><br>
			<input type="text" ng-model='$ctrl.formData.firstName'/>
		</div>
		<div>
			<label>Last Name:</label><br>
			<input type="text" ng-model='$ctrl.formData.lastName'/>
		</div>
		<div>
			<label>Occupation:</label><br>
			<select id="occupation" 
				ng-options="option.id as option.name for option in $ctrl.occupationList"
				ng-model="$ctrl.formData.occupation">
				<option value="">please choose one</option>
			</select>
		</div>
		<div>
			<label>Gender:</label><br>
			<label>
				<input type="radio" name="gender" ng-model="$ctrl.formData.gender" value="M"/>
				Male
			</label>
			<label>
				<input type="radio" name="gender" ng-model="$ctrl.formData.gender" value="F"/>
				Female
			</label>
		</div>
		<div>
			<label>isActive:</label>
			<input type="checkbox" ng-model="$ctrl.formData.isActive" />
		</div>


		<div>
			
			<a href="#" ng-click="$ctrl.saveForm($ctrl.formData)" class="btn btn-primary btn-icon-split">
				<span class="icon text-white-50">
					<i class="fas fa-check"></i>
				</span>
				<span class="text">Split Button Success</span>
			</a>
			<br>
			<br>

			<button type="submit">Submit</button>
		</div>
	</form>

 </div>


 <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
	<!-- Position it -->
	<div style="position: absolute; top: 0; right: 0;">
  
	  <!-- Then put toasts within -->
	  <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header bg-gradient-success" style="color: #fff;">
		  <strong class="mr-auto">Save Success</strong>
		  <small class="">autohide in 2sec</small>
		  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="toast-body">
			{{$ctrl.successResponse}}
		</div>
	  </div>
  
	  <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header bg-gradient-danger" style="color: #fff;">
		  <strong class="mr-auto">Error</strong>
		  <small class="">autohide in 2sec</small>
		  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="toast-body">
		  {{$ctrl.errorResponse}}
		</div>
	  </div>
	</div>
  </div>